<div style="margin-top: 80px">
<h3> <%= @scrapbook.scrapbook_title %></h3>
<% unless @memories.empty? %>
  <%= render 'shared/timeline_memories', memories: @memories  %>
<% end %>
<%= link_to "Add a new memory to scrapbook", new_family_scrapbook_memory_path(@family, @scrapbook, @memory) %>
<%= link_to "Add an existing memory to this scrapbook", new_family_scrapbook_scrapbook_memory_path(@family, @scrapbook, @memory)%>
<%= link_to "Family scrapbook", family_path(@family) %>
</div>
