<h3 class="text-center">All Families</h3>

<div class="container">
  <div class="row">
    <% @families.each do |family| %>
    <%= render "modalnew", my_family: family%>
    <div class="col-4">
      <div class="card my-2">
      <a href="#" data-bs-toggle="modal" data-bs-target="#memory-<%= memory.id %>">
          <div class="card-img-top">
              <% if family.photo.attached? %>
              <%= cl_image_tag family.photo.key, width: 410, height: 180 %>
              <% end %>
            <div class="card-body">
              <h4 class="card-title"><%=family.family_name%></h4>
              <p class="card-text"><%=family.description.first(100)%></p>
              <p class="card-text"><%= link_to "Create new family", new_family_path %></p>
            </div>
          </div>
      <%end%>
    </div>
    </div>

    <%= link_to "Edit Family" %>
  <%= link_to "Add Member" %>
    </a>
  </div>
</div>
