<%= render "shared/timeline_scrapbooks", scrapbooks: @scrapbooks %>

<div class="d-flex justify-content-center">
  <div class="container-new">
    <h3 class="text-center">Family details </h3>
      <h4><%=@family.family_name%></h4>
      <h5><%=@family.description%></h5>
      <% if @family.photo.attached? %>
        <%=cl_image_tag @family.photo.key, width: 300  %>
      <% end %>
      <h5>Family created by: <%=@family.user.name %></h5>
      <p>Family members:</p>
<div>
      <ul>
        <% @family_members.each do |member| %>
          <li><%= member.name %></li>
        <% end %>
      </ul>
</div>


      <% if @family.user == current_user %>
        <%= link_to "Update family details", edit_family_path(@family) %>
      <%end  %>
      <%# <% unless @family.users.find(current_user.id) %>
        <%# <%= simple_form_for [@family, @user_family ] do |f| %>
        <%# <%= f.submit "Add a new member" %>
        <%# <% end %>
      <% unless @family.user == current_user || @family.users.include?(current_user) %>
        <%= link_to "Join this family", user_families_path(family_id: @family.id), method: :post %>
      <% else %>
        <%= link_to "Leave this family", user_family_path(@user_family), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <% if @family.users.count == 1 || @family.users.include?(current_user) %>
        <%= link_to "Delete this family", @family, method: :delete, data: {confirm: 'Are you sure?'} %>
      <%end %>

   </div>
</div>
<%# @scrapbooks.each do |scrapbook| %>
<%#= link_to scrapbook.scrapbook_title, family_scrapbook_path(@family, scrapbook)  %>
<%#end %>

<%= link_to "Create new Scrapbook", new_family_scrapbook_path(@family) %>
