<div class="mt-5">
<%= render "shared/timeline_scrapbooks", scrapbooks: @scrapbooks %>
</div>

<div class="btn-index-geral">
  <div class="sm-sl">
    <button type="button"  data-bs-toggle="modal" data-bs-target="#familyDetails">
      <i class="fas fa-info btn-index"></i>
    </button>
  </div>

  <div class="dropdown ">
    <a class="dropbtn"><i class="fas fa-user btn-index"></i></a>
    <div class="dropdown-content">
      <%= link_to "My Memories", memories_path %>
    </div>
  </div>

  <div class="sm-sl">
        <i class="fas fa-search btn-index"></i>
  </div>
    <div class="dropdown">
      <a class="dropbtn"><i class="fas fa-plus btn-index"></i></a>
      <div class="dropdown-content caixa">
      <button type="button" data-bs-toggle="modal" data-bs-target="#modalScrap">
         Create new Scrapbook
       </button>
      </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="familyDetails" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <div class="container-new">
              <h3 class="text-center">Family details </h3>
              <h4><%=@family.family_name%></h4>
              <h5><%=@family.description%></h5>
              <% if @family.photo.attached? %>
                <%=cl_image_tag @family.photo.key, width: 300  %>
              <% end %>
              <h5>Family created by: <%=@family.user.name %></h5>
              <p>Family members:</p>
              <div>
                  <ul>
                    <% @family_members.each do |member| %>
                      <li><%= member.name %></li>
                    <% end %>
                  </ul>
              </div>
              <% if @family.user == current_user %>
          </div>
                <%= link_to "Update family details", edit_family_path(@family) %>
              <%end  %>
              <% unless @family.user == current_user || @family.users.include?(current_user) %>
                <%= link_to "Join this family", user_families_path(family_id: @family.id), method: :post %>
              <% else %>
                <%= link_to "Leave this family", user_family_path(@user_family), method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
              <% if @family.users.count == 1 || @family.users.include?(current_user) %>
                <%= link_to "Delete this family", @family, method: :delete, data: {confirm: 'Are you sure?'} %>
              <%end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal New Scrapbook-->
<div class="modal fade" id="modalScrap" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
           <div class="d-flex justify-content-center">
            <div class="container-new">
              <h3 class="text-center">Add a memory</h3>
              ....sds
               <div class="d-flex justify-content-center">
                <div class="container-new">
                  <h3 class="text-center">Add a new scrapbook</h3>
                  <%= simple_form_for [@scrapbook],url: family_scrapbooks_path(@family) do |f| %>
                  <div class="form-inputs">
                      <%= f.input :scrapbook_title %>
                      <%= f.input :scrapbook_description %>
                      <%= f.input :photo, as: :file  %>
                    </div>
                    <div class="form-actions">
                      <%= f.button :submit, "Build a new scrapbook" %>
                    </div>
                    <% end %>
                    <%= link_to "Back", my_families_path %>
                </div>
              </div>

            <%= link_to "Back", memories_path %>
      </div>

      </div>

    </div>
  </div>
</div>
