<div class="timeline mt-5">
<h3 class="d-flex justify-content-start title-crapbook mt-10"><%= @family.family_name %></h3>
  <% scrapbooks.each do |scrapbook| %>
  <% classes = scrapbook.id.even? ? 'justify-content-end' : 'right' %>
  <div class="container-timeline d-flex <%= classes %>">
    <div class="card" style="width: 18rem; border-radius: 6px;">
      <a href="#" data-bs-toggle="modal" data-bs-target="#scrapbook-<%= scrapbook.id %>">
        <div class="card-body card-back-color">
          <%= link_to family_scrapbook_path(scrapbook.family, scrapbook) do %>
            <div class="card-img-top">
              <% if scrapbook.photo.attached? %>
                <%= cl_image_tag scrapbook.photo.key, width: 350, height: 350, gravity: 'faces', crop: 'fill', class: "img-fluid rounded-start memory-image" %>
              <% end %>
            </div>
              <h4 class="mt-1"><strong><%=scrapbook.scrapbook_title%></strong></h4>
              <p><%=scrapbook.scrapbook_description.first(99)%>...</p>
              <p class="text-muted"><strong>by </strong> <%=scrapbook.user.name%></p>
          <% end %>
        </div>
      </a>
    </div>
  </div>
  <%end %>
</div>
