<div class="timeline mt-5">
  <%memories.each do |memory| %>
    <%= render "memories/modal", memory: memory %>
    <% memory.id.even? ? side = "left" : side = "right" %>
    <div class="container-timeline <%= side %>">
      <div class="card mb-3 mt-5 back-memory" style="max-width: 540px;">
        <a href="#" data-bs-toggle="modal" data-bs-target="#memory-<%= memory.id %>">
          <div class="row g-0 m-0">
            <div div class="col-md-4 img-fluid rounded-start">
              <% if memory.photo.attached? %>
                <%= cl_image_tag memory.photo.key, width: 350, height: 350, gravity: 'faces', crop: 'fill', class: "img-fluid rounded-start memory-image"%>
              <% end %>
            </div>
            <div class="col-md-8 d-flex">
              <div class="card-body d-flex flex-column flex-grow-1">
                <p class="text-muted d-flex justify-content-start"><%=memory.date.strftime('%d/%m/%Y')%></p>
                <h4 class="card-title"><strong><%=memory.title%></strong></h4>
                <p class="card-text"><%=memory.description.first(99)%>...</p>
                <div class="align-items-end d-flex flex-grow-1 justify-content-between">
                  <p class="text-muted align-items-end"><strong>by </strong><%=memory.user.name%></p>
                  <p><strong><i class="fas fa-map-marker-alt align-items-end me-1"></i><%=memory.location%></strong></p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  <%end %>
</div>
