<div class="container-banner">
  <div class="row">
  </div>
  <div class="row">
   <h1>Save your memories in a safe place</h1>
   <div class="btngeral">
      <%= link_to "LET'S GET STARTED", new_user_session_path %>
    </div>
  </div>
</div>

<div class="container">
 <h2>How does it work?</h2>
 <div class="row" id="cards-home">
   <div class="card-home">
     <%= image_tag "https://res.cloudinary.com/monstergrannies/image/upload/v1654075848/Quilt/save_dz9kh3.png" %>
     <p>Save your memories</p>
   </div>
   <div class="card-home">
     <%= image_tag "https://res.cloudinary.com/monstergrannies/image/upload/v1654075852/Quilt/scrapbook_nt162t.png" %>
     <p>Create Scrapbooks</p>
   </div>
   <div class="card-home">
     <%= image_tag "https://res.cloudinary.com/monstergrannies/image/upload/v1654075844/Quilt/trash_fa66ma.png" %>
     <p>Delete memories</p>
   </div>
   <div class="card-home">
     <%= image_tag "https://res.cloudinary.com/monstergrannies/image/upload/v1654075836/Quilt/famiily_hfbdqv.png" %>
     <p>Create groups to share</p>
   </div>
 </div>
</div>
<div class="container">
 <h2>About us</h2>
 <p>This app was developed to create a space where you can storage and share your memories with the ones you love and make them forever!!</p>
</div>
