<%# if  memory belongs? to scrapbook do not appear in user memories%>
<div class="timeline mt-4">
  <%@memories.each do |memory| %>
  <%= render "modal", memory: memory %>
  <% memory.id.even? ? side = "left" : side = "right" %>
  <div class="container-timeline <%= side %>">
    <div class="content">
      <a href="#" data-bs-toggle="modal" data-bs-target="#memory-<%= memory.id %>">
        <div class="d-flex justify-content">
          <div>
            <% if memory.photo.attached? %>
              <%= image_tag cl_image_path memory.photo.key   %>
            <% end %>
          </div>
          <div>
            <p><%=memory.date%></p>
            <h4><strong><%=memory.title%></strong></h4>
            <p><%=memory.description.first(99)%>...</p>
              <div class="d-flex justify-content-between">
              <p><strong>by:</strong><%=memory.user.name%></p>
              <p><%=memory.location%></p>
              </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <%end %>
<div>

<%= link_to "Create new memory", new_memory_path %>
<%= link_to "Create new memory", families_path %>
<%#= link_to "Create new family",  %>
</div>
