<%# if  memory belongs? to scrapbook do not appear in user memories%>
<div class="timeline mt-5">
  <%@memories.each do |memory| %>
  <%= render "modal", memory: memory %>
  <% memory.id.even? ? side = "left" : side = "right" %>
  <div class="container-timeline <%= side %>">
    <div class="content">
      <a href="#" data-bs-toggle="modal" data-bs-target="#memory-<%= memory.id %>">
        <div class="row justify-content">
          <div class="col-sm-12 col-md-4">
            <% if memory.photo.attached? %>
            <%=cl_image_tag memory.photo.key, width: 120, class: "memory-image"   %>
            <% end %>
          </div>
          <div class="col-sm-12 col-md-8">
          <div class="d-colm justify-content-between">
            <h4><strong><%=memory.title%></strong></h4>
            <p><%=memory.date%></p>
          </div>
            <p><%=memory.description.first(99)%>...</p>
              <div class="d-flex justify-content-between">
              <p class="text-muted"><strong>by:</strong><%=memory.user.name%></p>
              <p><strong><%=memory.location%></strong></p>
              </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <%end %>
</div>

<div class="btn-index-geral">


<div class="dropdown ">
  <button class="dropbtn"><i class="fas fa-users btn-index"></i></button>
    <div class="dropdown-content">
      <ul>
       <%current_user.families.each do |family| %>
         <li><%= link_to family.family_name, family_path(family)%></li>
        <%end%>
      </ul>



  </div>
</div>
<div class="sm-sl">
       <i class="fas fa-search btn-index"></i>
</div>

<div class="dropdown">
  <button class="dropbtn"><i class="fas fa-plus btn-index"></i></button>
  <div class="dropdown-content">
    <a href="#">Create a Family</a>
    <a href="#">Create a Memory</a>
  </div>
</div>
</div>
