<%= render 'shared/timeline_memories', memories: @memories %>

<%# btn user timeline %>
<div class="btn-index-geral">


<div class="dropdown ">
  <a class="dropbtn"><i class="fas fa-users btn-index"></i></a>
    <div class="dropdown-content">
      <ul>
       <%current_user.families.each do |family| %>
         <li><%= link_to family.family_name, family_path(family)%></li>
        <%end%>
      </ul>
    </div>
</div>

<div class="dropdown">
  <a class="dropbtn"><i class="fas fa-plus btn-index"></i></a>
  <div class="dropdown-content">
    <a type="button" data-bs-toggle="modal" data-bs-target="#CreateFamilyModal">
      Create a Family
    </a>
    <a type="button" data-bs-toggle="modal" data-bs-target="#CreateNewMemory">
      Create a Memory
    </a>

  </div>

</div>
</div>


<!-- Modal Create Family-->

<div class="modal fade " id="CreateFamilyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <h3>Create a Family</h3>

        <%= simple_form_for [@family],url:families_path do |f| %>
            <div class="form-inputs">
              <%= f.input :family_name %>
              <%= f.input :description %>
              <%= f.input :photo, as: :file  %>
              </div>
              <%= f.button :submit, "Submit" %>
              </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Modal Create Memory-->

<div class="modal fade " id="CreateNewMemory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <h3>Create a Memory</h3>
        <%= simple_form_for [@memory], url: create_only_memory_path  do |f| %>
          <div class="form-inputs">
            <%= f.input :title %>
            <%= f.input :date %>
            <%= f.input :location %>
            <%= f.input :description %>
            <%= f.input :photo, as: :file  %>
          </div>
          <div class="form-actions">
          <%= f.button :submit, "Submit" %>
          </div>
        <% end %>

</div>
      </div>
    </div>
  </div>
</div>
