<div>

    <p><%=@memory.title%></p>
    <p><%=@memory.description%></p>
    <p><%=@memory.date%></p>
    <p><%=@memory.location%></p>
    <%# adicionar photos %>

    <%= link_to "Back to your Memories", memories_path %>

</div>
