<div>

      <p><%=@memory.title%></p>
      <p><%=@memory.description%></p>
      <p><%=@memory.date%></p>
      <p><%=@memory.location%></p>
      <%=cl_image_tag @memory.photo.key, width: 300   %>

      <%= link_to "Back", memories_path %>
      <%= link_to 'Delete Memory', @memory, method: :delete, data: { confirm: 'Are you sure?' } %>

</div>
